# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_7TEEN

config ZMK_KEYBOARD_NAME
    default "7teen"

config ZMK_USB
    default y

config ZMK_KSCAN_MATRIX_POLLING
    default y

endif
